In [1]:
import os
import sys
import numpy as np
import pandas as pd
import openmatrix as omx

In [2]:
os.chdir('../data/TransportationNetworks')
root = os.getcwd()
root

'c:\\Projects\\TrafficAssignmentApproaches\\data\\TransportationNetworks'

In [24]:
os.getcwd()

'c:\\Projects\\TrafficAssignmentApproaches\\data\\TransportationNetworks'

In [ ]:
def create_constraints(net_name):
    os.chdir(f'./{net_name}')
    df = pd.read_csv(f'{net_name}_net.csv', comment='#')

    constraints = df[['init_node', 'term_node']].copy(deep=True)
    constraints['lower_bound'] = df['capacity'] * 0.9
    constraints['upper_bound'] = df['capacity'] * 1.1
    constraints['investment_cost_param'] = 0
    constraints.to_csv(f'{net_name}_constraints.csv', index=False)

    os.chdir(f'..')

In [23]:
create_constraints('SiouxFalls')

    init_node  term_node   lower_bound   upper_bound  investment_cost_param
0           1          2  23310.180576  28490.220704                      0
1           1          3  21063.125871  25743.820509                      0
2           2          1  23310.180576  28490.220704                      0
3           2          6   4462.362835   5453.999021                      0
4           3          1  21063.125871  25743.820509                      0
..        ...        ...           ...           ...                    ...
71         23         22   4500.000000   5500.000000                      0
72         23         24   4570.657592   5586.359280                      0
73         24         13   4582.130537   5600.381767                      0
74         24         21   4396.821808   5373.893320                      0
75         24         23   4570.657592   5586.359280                      0

[76 rows x 5 columns]